body {
  background: black;
  margin: 0;
  padding: 0;
}

#videos-container {
  position: absolute;
  top: 50px;
  margin: 2em auto 0;
  padding: 2em;
  
}

video:nth-child(2) {
   position: absolute;
   top: -65px;
   left: 850px;
   height: 250px;
   
}
video:nth-child(1) {
  position: absolute;
  top: -65px;
  left: 10px;
   height: 500px;
   
}
#main-view{
  position: absolute;
  top: 65px;
  left: 10px;
  width: 667px;
  height: 500px;


}

#color-list{
  top :625px;
  position: absolute;
}
button {
    font-family: Myriad, Arial, Verdana;
    font-weight: normal;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 4px 12px;
    text-decoration: none;
    color: rgb(27, 26, 26);
    display: inline-block;
    box-shadow: rgb(255, 255, 255) 1px 1px 0px 0px inset;
    text-shadow: none;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(241, 241, 241)), to(rgb(230, 230, 230)));
    font-size: 20px;
    border: 1px solid red;
    z-index: 999;
}

button[disabled] {
    background: rgba(216, 205, 205, 0.2);
    border: 1px solid rgb(233, 224, 224);
}

#main-canvas {
  display: none;
  position: absolute;
  top: 100px;
  z-index: 1;
  height: 200px;
  

 
}

#button-list {
    left: 850px;
    display: block;
    position: absolute;
    top: 400px;
}
